@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800;900&display=swap'); 
/* main css  */
* {
    font-family: 'Inter', sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-gradient{ 
    background-image: linear-gradient(90deg, #4F46E5 -18.06%, #4F46E5 15.97%, #3B70F7 50%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.bg-gradient {
    background-image: linear-gradient(90deg, #140F6B 50%, #4840D6 50%);
}
